.portada {
  display: flex;
}

#presionable {
  color: red;
}

#footer {
  margin-top: 20px;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 50px;
}

#intro {
  width: 50%;
}

#cajita {
  margin-top: -60px;
  margin-bottom: 160px;
}
#linea {
  background-color: black;
  height: 50px;
}

#segundaCara {
  margin-top: 100px;
}

#titulo {
  margin-top: 800px;
  font-size: 100%;
  margin-bottom: 400px;
  text-align: center;
}
