#primeraCara {
  height: 100vh;
  background-color: #c9ada7;
}

.card {
  background-color: #f2e9e4;
}

#abajo {
  background-color: #4a4e69;
}

#intro {
  width: 50%;
}

#segundaCara {
  height: 100vh;
  background-color: #9a8c98;
}

#paginaNosotros {
  background-color: #c9ada7;
}

#paginaTermCond {
  background-color: #c9ada7;
}

.formulario {
  height: 100vh;
}

#paginaEspera {
  background-color: #c9ada7;
  height: 100vh;
}

#paginaIniciadoSesion {
  background-color: #c9ada7;
  height: 100vh;
}

#Card {
  background-color: #4a4e69;
}
#Btn-enviar {
  background-color: #c9ada7;
}
#Btn-Confirmar {
  background-color: #c9ada7;
}
#Fondo-textos {
  background-color: #f2e9e4;
}
#Titulos {
  color: white;
}
